.headBases{
	background-image: url(../img/fondo1.jpg);
	color: #ffffff;
	padding: 4rem;
	height: 500px;
	overflow: hidden;
	position: relative;

	img{
		position: absolute;
		bottom: -6rem;
		left: 9rem; 
	}

	.intro{
		position: absolute;
		left: 50%;
		top:30%;

	}
}

.instrucciones{
	background-color: #ffffff;
	height: 285px;
	overflow: hidden;
}

.paso{
	height: 300px;
	width: 20%;
	padding: 2rem;
	float: left;
	text-align: center;
	img{
		width: 80px;
	}
}
.participarBases{
	position: absolute;
}
.uno, .tres, .cinco{
	background-color: #E6E6E6;
}

.dos, .cuatro{
	background-color: #ffffff;
}

.bases{
	background-color: #F1F1F0;
	background-image: url(../img/bases/nubes.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% auto;
	text-align: center;
	padding: 3rem;
}


.textBases{
	text-align: left;
	h2{
		padding-top: 2rem;
	}
}

.participarBases{
	text-align: left;
	h2{
		padding-top: 2rem;
	}
}

.basesComo img{
	width: 180px;
}

.sponsors {
	padding-top: 3rem;

	img{
		width: 200px;
	}
}
