.perfil-head{
	background-image: url(../../img/fondo1.jpg);
	color: #ffffff;
	padding-top: 6rem;
	padding-bottom: 3rem;

	p{
		margin: 0;
	}
}

.imagen-perfil{
	width: 175px;
	border-radius: 100px;
	background-color: #262651;
	float: left;
	margin-right: 30px;
	 img{
	 	width: 175px;
	 }
}

.perfil-info{
	float: left;

	p:first-child{
		margin-top: 10px;
	}

}

.editar{
	background-color: transparent;
	width: 120px;

	&:hover{
			background-color: #F9627F;
		}

	img{
		width: 15px;
		display: inline-block;
		margin: 0 auto;
	}
	h4{
		display: inline-block;
		margin: 0 auto;
	}
	button{
		background-color:transparent;
		padding: 0;
		margin: 0 auto

	}
}



.info-ranking-user{
	float: right;
	border: 1px solid white;
	border-radius: 10px;
	padding: 0 20px 20px;
	position: relative;
  		top: 3rem;

	p{
		display: inline-block;
		font-size: 20px;
	}
	img{
		width: 30px;
		display: inline-block;
		margin-right: 5px;
	}

	hr{
		height: 45px;
		display: inline-block;
		margin-left: 20px;
 		margin-right: 20px;
		margin-bottom: -20px;
	}
}
.secondary-menu{
	background-color: #262651;
	text-align: center;
	padding: 1.25rem;
		li{
			display: inline-block;
			list-style-type: none;
			text-transform: uppercase;
		}
		li:first-child{
			padding-right: 30px;
		}

		a{
			color: #ffffff;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			font-size: 0.875rem;

			&:hover{
				color: #F9627F;
			}
		}

}
.tu-perfil{
	background-image: url(../../img/fondo1.jpg);
}

.perfil-video{
	background-color: #25AAAD;
	text-align: center;
	color: #ffffff;
	height: 360px;
	padding-top: 2rem;

	input[type="text"]{
		max-width: 500px;
		margin: 2.5rem auto 1.5rem;
	}
	li{
		list-style-type: none;
		display: inline-block;
	}

	img{
		width: 120px;
	}
}

.perfil-descripcion{
	background-color: #1C1C49;
	color: #ffffff;
	height: 360px;
	padding-top: 2rem;
	.intrucciones{
		background-color: transparent;
		color: #939598;
	}
}


.photos-user{
	background-color: #ffffff;
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.photo{
	border: 3px solid #DEDDDD;
	width: 180px;
	height: 180px;
	display: inline-block;
	margin-left: 10px;
	position: relative;
	color:#DEDDDD; 
	&:hover{
		background-color: #DEDDDD;
		color: #ffffff;
	}

	img{
		width: 15px;
  		position: absolute;
  			top: 5px;
  			right: 5px;
	}


}

.mas{
	font-size: 100px;
	margin: 0;
	position: absolute;
		top: 40%;
		left: 0;
		right: 0;

}
